{% load static %}
<div class="feedback_container">
    <div class="text_feedback">
        <div class="feedback_content">
            <h2>
                <span class="bullet">&#8226;</span> PYTHON 
                <span class="bullet">&#8226;</span> ASTERSIK 
                <span class="bullet">&#8226;</span> BASH
                <span class="bullet">&#8226;</span> VIRTULIZAÇÃO
                <span class="bullet">&#8226;</span> PANDAS 
                <span class="bullet">&#8226;</span> JAVASCRIPT
                <span class="bullet">&#8226;</span> MQL5
                <span class="bullet">&#8226;</span> JAVA
                <span class="bullet">&#8226;</span> DJANGO 
                <span class="bullet">&#8226;</span> CSS 
                <span class="bullet">&#8226;</span> INTEGRAÇÃO API's
                <span class="bullet">&#8226;</span> INKSCAPE 
                <span class="bullet">&#8226;</span> FIGMA
                <span class="bullet">&#8226;</span> WORDPRESS
                <span class="bullet">&#8226;</span> PFSENSE
    

                <span class="bullet">&#8226;</span> PYTHON 
                <span class="bullet">&#8226;</span> ASTERSIK 
                <span class="bullet">&#8226;</span> BASH
                <span class="bullet">&#8226;</span> VIRTULIZAÇÃO
                <span class="bullet">&#8226;</span> PANDAS 
                <span class="bullet">&#8226;</span> JAVASCRIPT
                <span class="bullet">&#8226;</span> MQL5
                <span class="bullet">&#8226;</span> JAVA
                <span class="bullet">&#8226;</span> DJANGO 
                <span class="bullet">&#8226;</span> CSS 
                <span class="bullet">&#8226;</span> INTEGRAÇÃO API's
                <span class="bullet">&#8226;</span> INKSCAPE 
                <span class="bullet">&#8226;</span> FIGMA
                <span class="bullet">&#8226;</span> WORDPRESS
                <span class="bullet">&#8226;</span> PFSENSE
            </h2>
        </div>
    </div>

</div>