body{
    background-color: black;
}

.conteiner_video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    max-width: 1440px;
}
.conteiner_video video{
    border-radius: 15px; 
}

.conteiner_video a {
    color:  #08782f;
}
.conteiner_video h3 {
    text-align: center;
    padding: 20px; 
    margin: 0 auto;
    margin-top: 30px;
    max-width: 40%;
    background:#cffcdf;
    box-sizing: border-box;
    border-radius: 15px;
    transition: color 2.0s, transform 0.8s;
}


.conteiner_video h3:hover{
    transform: scale(0.95);
    box-shadow: 0 0 5px rgb(46, 146, 43),
                0 0 10px rgb(46, 146, 43),
                0 0 20px rgb(46, 146, 43),
                0 0 40px rgb(46, 146, 43),
                0 0 80px rgb(46, 146, 43);

    transform: scale(1.04);
}
