.container_softwares{
    margin-top: -20px;
    max-width: 80%;
    min-height: 800px;
    border-radius: 30px;
    background-color: rgb(216, 216, 216);
    border: 5px solid rgb(255, 255, 255);
}

.software_colum{
    border-radius: 30px;
    max-width: 100%;
    min-height: 200px;
    max-height: 300px;
    padding: 20px;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
    display: grid;
    border-radius: 30px;
    grid-template-areas:
        'menu header header header header header'
        'menu main main main right right';
    gap: 10px;
    background-color: #ffffff;
    padding: 10px;
    border-bottom: 2px solid rgba(116, 113, 113, 0.849);
    transition: box-shadow 0.3s ease; 
}

.grid-container:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.grid-container > div {
    font-size: 30px;
    text-align: left;
}

.item4 {
    display: flex;
    align-items: start;
    justify-content: flex-start;
}


.software_colum h3{
    color: green;
    padding: 1.5%; /* Aumenta o espaço interno ao redor do texto */
    border-radius: 20px; /* Arredonda os cantos */
}

.software_colum h3:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transform: scale(0.99);
}


/* Estilos para dispositivos móveis (largura máxima de 768px) */
@media screen and (max-width: 700px) {
    .grid-container {
        grid-template-areas:
            'menu'
            'header'
            'main'
            'main'
            'right'
            'right';
    }

    .container_softwares{
        margin-top: -5px;
        max-width: 100%;
    }
    
}