/* Configurações globais */
html {
    scroll-behavior: smooth;
}

::selection {
    background-color: var(--cor-verde); /* Cor de fundo quando selecionado */
    color: var(--cor-preto); /* Cor do texto quando selecionado */
}

body {
    background: var(--cor-background-preto);
    font-family: var(--tipo-fonte-primaria);
    margin: 0;
    padding: 0;
    width:100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

#elemento {
    display: none;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo preto com opacidade */
    z-index: 99999999999;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #elemento img {
    max-width: 50%; /* Ajusta a largura máxima da imagem */
    max-height: 50%; /* Ajusta a altura máxima da imagem */
    transform: translate(-50%, -50%);
  }


h1, h2, h3, h4, h5, h6 {
    font-family: var(--tipo-fonte-primaria);
}

h1 {
    font-size: 1.80em;
}

h2 {
    font-size: 1.50em;
}

h3 {
    font-size: 1.40em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 1.0em;
}

h6 {
    font-size: 1em;
}


/*##########################
  Conteudo da Página - Elementos Globais           
  ##########################*/
  .content {
    max-width: 1800px;
    margin-left: 300px;
    padding: 1px 16px;
}


/*##########################
  Mudança de tema             
  ##########################*/
.switch-theme {
    position: fixed;
    top: 40px;
    right: 40px;
    color: grey;
    z-index: 888;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 30px;
}

.switch input {
    display: none;
}

.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: all 0.4s;
    border-radius: 34px;
}

.switch .slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.switch input:checked + .slider {
    background-color: #333;
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
    transform: translateX(26px);
}





/*##########################
  
  RESPONSIVIDADE        

  ##########################*/

/* Mobile */
@media screen and (max-width: 700px) {
    div.content{
        margin-left: 0px;
        padding: 0px 0px;
    }

    .switch-theme {
        position: fixed;
        top: 20px;
        right: 20px;
    }
  
}

/*##########################
  Cursor do mouse           
  ##########################*/
@media screen and (min-width: 701px) {
    .dpkCursor {
        height: 1.75rem;
        width: 1.75rem;
        position: fixed;
        top: 0;
        left: 0;
        border: 2px solid var(--cor-branco);
        mix-blend-mode: normal;
        border-radius: 50%;
        pointer-events: none;
        z-index: 999;
    }
}


@media screen and (max-width: 700px) {
    .dpkCursor {
        height: none;
        width: none;
        position: none;
        top: 0;
        left: 0;
        color: none;
        border:none;
        mix-blend-mode: none;
        border-radius: none;
        pointer-events: none;
        z-index: none;
    }
}


