/*##########################
  FEEDBACK BANNER*/

.feedback_container{
    width: 80%;
    margin: 0;
    margin-top: 0px;
    overflow: hidden;
}

.text_feedback{
    font-family: var(--tipo-fonte-secundaria);
    font-size: var(--tamanho-fonte-grande-banner-feedback);
    letter-spacing: 5px;
    color: transparent;
    margin: 0;
    padding: 0;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--cor-branco);
    white-space: nowrap;
    animation: scrollText 60s infinite linear;
}

@keyframes scrollText {
    from   { transform: translateX(0%); }
    to { transform: translateX(-600%); }
}

.bullet {
    color: var(--cor-branco);
} 


/*##########################
  RESPONSIVIDADE            
  ##########################*/

  /* Mobile */
@media screen and (max-width: 700px) {
    .feedback_container{
    width: 100%;
    }
}