.footer_line{
    position: relative;
    width: 80%;
    /* margin-top: 2px;
    border-top: 2px solid var(--cor-cinza); */
    left: 0;
    margin-top: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_line h6,
.footer_line h5 {
    position: relative;
    z-index: 1;
    color: var(--cor-branco-opaco);
    font-family: var(--tipo-fonte-primaria);
    top: 20px;
    transition: color 1.0s, transform 0.8s;
}

.footer_line h6:hover,
.footer_line h5:hover{
    color: var(--cor-verde);
    transform: rotateX(360deg);
}

.footer_line h5 a {
    text-decoration: none;
    color: inherit;
}


@media screen and (max-width: 700px) {
    .footer_line {
        width: 100%;
        margin-bottom: 100px;
    }

    .footer_line h5 {
        font-size: var(--tamanho-fonte-pequena-mobile);
        margin: 10px;
    }

}