.container_suporte {
    text-align: center;
    max-width: 80%;
    color:var(--cor-branco);
    font-size: var(--tamanho-fonte-grande-subtitulo-desktop-responsiva);
    letter-spacing: 5px;
}

.container_suporte_chamada {
    text-align: center;
    max-width: 100%;
    color:var(--cor-branco);
    font-size: var(--tamanho-fonte-grande-desktop-responsiva);
    letter-spacing: 5px;
}

.chamada_suporte span{
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--cor-branco);
}


/* OPCOES SUPORTE */
.centralizacao_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.container_opcoes_suporte {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
}

.coluna {
    width: calc(50% - 20px);
    box-sizing: border-box; 
}

.colapsar_suporte {
    background-color: var(--cor-branco);
    color: var(--cor-preto);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-radius: 25px;
    box-sizing: border-box;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    transition: color 1.0s, transform 0.8s;
}

.colapsar_suporte h3 {
    font-family: var(--tipo-fonte-secundaria);
    font-size: var(--tamanho-fonte-desktop-botoes-pequeno);
}

.colapsar_suporte h3 span { 
    position: absolute;
    font-size: calc(var(--tamanho-fonte-desktop-botoes-medio) * 1.5); /* 10% maior */
    top: 50%;
    margin-left: 10%;
    transform: translateY(-50%);
    transition: transform 0.2s ease-out;
}

.colapsar_suporte .icon-x {
    transform: translateY(-50%) rotate(45deg);
}

.colapsar_suporte:hover{
    transform: scale(1.03);
}

.suporte_ativa,
.colapsar_suporte:hover {
    background-color:var(--cor-branco);
}

.conteudo_suporte {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 100%;
    box-sizing: border-box;
    font-size: var(--tamanho-fonte-desktop-botoes-pequeno);
    font-family: var(--tipo-fonte-terciaria);
    letter-spacing: normal;
}

.conteudo_suporte a{
    color: var(--cor-verde);
}


/* FAQ */
.centralizacao_faq{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.container_faq{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    margin-bottom: 5%;
}

.coluna_faq {
    box-sizing: border-box;
    min-width: 100%;
}

.colapsar_faq{
    background:none;
    color: var(--cor-branco);
    cursor: pointer;
    min-width: 100%;
    box-sizing: border-box;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
    border-top: 2px solid var(--cor-cinza);
    border-radius: 25px;
}


.colapsar_faq:hover{
    background: rgba(255, 255, 255, 0.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.4px);
    -webkit-backdrop-filter: blur(12.4px);
}

.colapsar_faq h3 {
    text-overflow: ellipsis;
    font-family: var(--tipo-fonte-primaria);
    font-size: var(--tamanho-fonte-desktop-botoes-pequeno);
}


.colapsar_faq h3 span {
    position: absolute;
    max-width: 80%;
    font-size: calc(var(--tamanho-fonte-desktop-botoes-medio) * 1.5); /* 10% maior */
    top: 50%;
    right: 2%;
    margin-left: 10%;
    transform: translateY(-50%);
    transition: transform 0.2s ease-out;
}

.colapsar_faq .icon-x {
    transform: translateY(-50%) rotate(-90deg);
}

.faq_ativa {
    color:var(--cor-verde);
}

.conteudo_faq {
    text-align: left;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    width: 100%;
    box-sizing: border-box;
    font-size: var(--tamanho-fonte-desktop-botoes-pequeno);
    font-family: var(--tipo-fonte-terciaria);
    letter-spacing: normal;
}


.item_duvidas {
    width: 100%;
    margin-top: 8%;
    box-sizing: border-box;
    text-align: left; 
}

.item_duvidas h3{
    -webkit-text-stroke: 1px var(--cor-branco);
    font-size: var(--tamanho-fonte-desktop-botoes-pequeno);
}

@media (max-width: 700px) {

    .container_opcoes_suporte{
        width: 100%;
        margin-left: 2%;
        margin-right: 2%;
        flex-direction: column;
        gap: 0px;
    }

    .container_faq{
        width: 100%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .container_suporte{
        max-width: 100%;
    }

    .container_suporte_chamada {
        font-size: var(--tamanho-fonte-02-mobile);
    }

    .coluna{
        width: 100%;
    }

    .colapsar_suporte h3 {
        font-size: var(--tamanho-fonte-mobile-botoes-medio);
    }

    .colapsar_suporte h3 span {
        position: absolute;
        font-size: calc(var(--tamanho-fonte-mobile-botoes-medio) * 1.5); /* 10% maior */
    }

    .conteudo_suporte {
        font-size: calc(var(--tamanho-fonte-mobile-botoes-medio) * 1.1); /* 10% maior */
    }

    .colapsar_faq{
        margin-top: 8%;
    }
    .colapsar_faq h3 span,
    .colapsar_faq h3{
        font-size: calc(var(--tamanho-fonte-mobile-botoes-medio) * 0.9);
    }

    .conteudo_faq{
        font-size: var(--tamanho-fonte-mobile-botoes-medio);
    }
    
    .colapsar_faq .icon {
        display: none;
    }

    .colapsar_suporte h3 span {
        margin-left: 5%;
    }

    .item_duvidas h3{
        font-size: var(--tamanho-fonte-mobile-botoes-medio);
    }
    

}