{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>GabDev - Política de Privacidade</title>
    {% include 'apresentacao/inicio/mainMetas.html' %}
    <meta name="robots" content="index, follow"/>
    <link rel="stylesheet" href="{% static 'css/00_variables.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/01_global.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/02_menu.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/privacidade/02_privacidade.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/04_cabecalho.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/08_footer.css'%}"/>
</head>

<body>
    
    {% include 'apresentacao/inicio/swiitch.html' %}

    <!-- ########################## -->
    <!-- Menus                      -->
    <!-- ########################## -->
    {% include 'apresentacao/inicio/menu_desktop_en.html' %}
    {% include 'apresentacao/inicio/menu_mobile_en.html' %}
    <script>
        window.onload = function () {
            destacarMenus();
        };

        function destacarMenus() {
            // Destacar o menu desktop
            if (document.getElementById('menuinicio')) {
                document.getElementById('menuinicio').classList.add('active');
            }

            // Destacar o menu mobile
            if (document.getElementById('inicio')) {
                document.getElementById('inicio').classList.add('active');
            }
        }
    </script>

    <!-- ########################## -->
    <!-- Page Content               -->
    <!-- ########################## -->
    <div class="content">

        {% include 'apresentacao/inicio/cabecalho_en.html' %}

        <div class="container_privacidade">
            <div class="animacao_titulo">
                <h2 class="politica_privacidade">PRIV<span>ACY</span><br>PO<span>LI</span>CY</h2>
            </div>
        
            <div class="conteudo_privacidade">
        
                <p>Your privacy is important to us. It is GabDeveloper's policy to respect your privacy regarding any information we may collect on the <a href="https://gabdeveloper.com" class="link">GabDeveloper</a> website and other sites we own and operate.</p>
                <p>We request personal information only when we truly need it to provide you with a service. We do so by fair and legal means, with your knowledge and consent. We also inform you why we are collecting it and how it will be used.</p>
                <p>We only retain collected information for as long as necessary to provide the requested service, always with your prior consent. When storing data, we protect it using commercially acceptable means to prevent loss, theft, unauthorized access, disclosure, copying, misuse, or modification.</p>
                <p>We do not share personally identifiable information publicly or with third parties, except when required by law.</p>
                <p>Our website may contain links to external sites that are not operated by us. Be aware that we have no control over the content and practices of these sites and cannot accept responsibility for their respective privacy policies.</p>
                <p>You are free to refuse our request for personal information, understanding that we may not be able to provide some of the desired services.</p>
                <p>Continued use of our website will be considered acceptance of our privacy and personal information practices. If you have any questions about how we handle user data and personal information, please contact us at gabdeveloper@protonmail.com with the subject line "Questions about data processing".</p>
        
                <p>
                    <ul>
                        <li>The Google AdSense service we use to display advertisements uses a DoubleClick cookie to deliver more relevant ads across the Web and to limit the number of times a particular ad is shown to you.</li>
                        <li>For more information about Google AdSense, refer to the official Google AdSense privacy FAQs.</li>
                        <li>We use ads to offset the operating costs of this site and provide funding for future developments. The behavioral advertising cookies used by this site are designed to ensure that you receive the most relevant ads possible by anonymously tracking your interests and presenting similar things that may interest you.</li>
                        <li>Several partners advertise on our behalf, and affiliate tracking cookies simply allow us to see if our customers have accessed the site through one of our partner sites, so we can properly credit them and, where applicable, allow our affiliate partners to offer any promotion that may provide you with a purchase opportunity.</li>
                    </ul>
                </p>
        
                <h3>User Commitment</h3>
                <p>The user commits to making proper use of the content and information that GabDeveloper offers on the website, including but not limited to:</p>
                <ul>
                    <li>A) Not engaging in activities that are illegal or contrary to good faith and public order;</li>
                    <li>B) Not spreading propaganda or content of a racist, xenophobic nature, games of chance, any type of illegal pornography, terrorism advocacy, or violations of human rights;</li>
                    <li>C) Not causing damage to the physical (hardware) and logical (software) systems of Gabriel, its suppliers, or third parties, nor introducing or spreading computer viruses or any other hardware or software systems capable of causing the aforementioned damages.</li>
                    <li>D) Reading and understanding the platform’s Terms of Use, available on the <a href="/termos" class="link">Terms of Use</a> page.</li>
                    <li>E) Complying with all rules, regulations, and guidelines established in the Terms of Use.</li>
                    <li>F) Accepting the responsibilities and consequences of any violation of the Terms of Use.</li>
                    <li>G) Not selling our software and services except through affiliate platforms that Gabriel is part of.</li>
                    <li>H) Not selling our software and services except through our affiliate program.</li>
                </ul>
        
                <h3>More Information</h3>
                <p>We hope this clarifies everything, and as mentioned earlier, if there is anything you are unsure about, it is generally safer to leave cookies enabled in case you interact with one of the features you use on our site.</p>
                <p>This policy is effective as of August 14, 2023, at 16:33.</p>
            </div>
        </div>
        
        {% include 'apresentacao/inicio/rodape_en.html' %}

    <!-- final div content     -->
    </div>
    

    <script>const staticPath = "{% static '' %}";</script>
    <script src="{% static 'scripts/00_rolar_tela.js' %}"></script>
    <script src="{% static 'scripts/01_mudar_tema.js' %}"></script>
    <script src="{% static 'scripts/02_mouse.js' %}"></script>
    <script src="{% static 'scripts/03_menu_mobile.js' %}"></script>
    <script src="{% static 'scripts/04_menu_idioma.js' %}"></script>

</body>
</html>