{% load static %}        
<!--primeira sessão - chamada inicial -->
<div class="chamada">

    <div class="bannerDesktop">
        <div class="linha"><span>WE CANNOT</span></div>
        <div class="linha"><span>CHANGE THE FUTURE,</span></div>
        <div class="espacadorTexto"></div>
        <div class="linha">THE SOFTWARE</div>
        <div class="linha">WE BUILD CAN..<span id="travessao">.</span></div>
    </div>

    <div class="bannerMobile">
            <div class="linha"><span>WE CAN</span></div>
            <div class="linha"><span>CHANGE THE</span></div>
            <div class="linha"><span>FUTURE,</span></div>
            <div class="espacadorTexto"></div>
            <div class="linha">THE SOFTWARE</div>
            <div class="linha">WE BUILD</div>
            <div class="linha">CAN..<span id="travessao">.</span></div>
    </div>


    <div class="containerBotao">
        <a href="/softwares">
        <div class='button_loja'>
            <div class="content_button_loja">Check the Portfolio</div>
            <span class="arrow-icon">➔</span>
        </div>
        </a>
    </div>

</div>