{% load static %}

<div class="linha-horizontal-top-content">
    <a href="https://wa.me/5548991206137?text=Hello%2C+I+hope+this+message+finds+you+well.+I+just+checked+out+your+website+and+would+like+to+ask+some+questions." target="_blank">
        <div class="button-avaible"><h6><span class="bola">&#8226;</span>Available to Work</h6></div>
    </a>
</div>

<a href="/">
    <div class="linha-horizontal-top-content-mobile">
        <img class="img-responsive" src="{% static 'images/apresentacao/logoBranca720.png'%}" id='logo_empresa_linha' alt="My Happy SVG"/>
    </div>
</a>



