{% load static %}

<div class="linha-horizontal-top-content">
    <a href="mailto:gabdeveloper@protonmail.com?subject=Came from your website" target="_blank">
        <div class="button-avaible"><h6><span class="bola">&#8226;</span>Available to Work</h6></div>
    </a>
</div>

<a href="/">
    <div class="linha-horizontal-top-content-mobile">
        <img class="img-responsive" src="{% static 'images/apresentacao/logoBranca720.png'%}" id='logo_empresa_linha' alt="My Happy SVG"/>
    </div>
</a>



