{% load static %}

<meta charSet="utf-8"/>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="content-language" content="pt-br, en-US"/>

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel="icon" href="{% static 'images/icons/favicon_default.png'%}"/>


<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/icons/favicon144.png'%}"/>
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/icons/favicon114.png'%}"/>
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/icons/favicon72.png'%}"/>

<link rel="icon" sizes="192x192" href="{% static 'images/icons/favicon192.png'%}"/>
<link rel="icon" sizes="512x512" href="{% static 'images/icons/favicon512.png'%}"/>
<link rel="icon" sizes="228x228" href="{% static 'images/icons/favicon228.png'%}"/>



<meta name="description" content="IT specialists building innovative solutions to transform businesses. We offer spreadsheet automation, network protection, Google business analysis, and more.
                                We are experts in visionary development, strategy, and technology since 2023, working to transform the human experience with technology.
                                We develop impactful digital solutions in the technological landscape, specializing in IT consulting, automation, servers, and web development.
                                Simplify and innovate your technology experience.
                                Experienced developer on board.

                                Especialistas em TI construindo soluções inovadoras para transformar negócios. Oferecemos automação de planilhas, proteção de rede, análise de negócios do Google e muito mais.
                                Somos especialistas em desenvolvimento visionário, estratégia e tecnologia desde 2023, trabalhando para transformar a experiência humana com tecnologia.
                                Desenvolvemos soluções digitais impactantes no cenário tecnológico, especializando-nos em consultoria de TI, automação, servidores e desenvolvimento web.
                                Simplifique e inove sua experiência tecnológica.
                                Desenvolvedor experiente a bordo.
                                " />

<meta name="keywords" content="
                                IT consulting, spreadsheet automation, network protection, Google business analysis, website development, artificial intelligence, servers, firewall, IT innovation, visionary development, 
                                IT strategy, technology consulting, IT training, Wordpress development, process automation, information security, Virtual Machines, Linux expertise, Python, Astesisk, Bash, Virtualization, 
                                Pandas, Javascript, MQL5, Java, Django, CSS, API Integration, Inkscape, Figma, WordPress, PFsense, Digital Experience, Technological Solutions
                                Consultoria em TI, automação de planilhas, proteção de rede, análise de negócios do Google, desenvolvimento de websites, inteligência artificial, servidores, inovação em TI, desenvolvimento visionário,
                                estratégia de TI, consultoria em tecnologia, treinamento em TI, desenvolvimento Wordpress, automação de processos, segurança da informação, Máquinas Virtuais, expertise em Linux, Virtualização,
                                Integração de API, Experiência Digital, Soluções Tecnológicas.                                
                                " />


<meta name="author" content="Gab Developer">
<meta name="copyright" content="© 2023 GabDeveloper - Providing"/>


<meta property="og:site_name"content="GabDeveloper"/>
<meta property="og:url" content="https://gabdeveloper.com"/>
<meta property="og:title" content="Discover new opportunities with Professional Development">
<meta property="og:description" content="We can't change the future, the software we build can... 🚀">
<meta property="og:image" content="https://gabdeveloper.com/static/images/apresentacao/og_image.jpg">
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/> 
<meta property="og:type" content="website">

<meta name="twitter:url" content="https://gabdeveloper.com">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Gab Developer">
<meta name="twitter:description" content="We can't change the future, the software we build can... 🚀">
<meta name="twitter:image" content="https://gabdeveloper.com/static/images/apresentacao/og_image.jpg">


<meta name="revisit-after" content="7 days"/>
<meta name="distribution" content="global"/>

<meta name="referrer" content="no-referrer-when-downgrade">
