{% load static %}

<!--segunda sessão - softwares recentes -->
<div class="container_softwares_recentes">
    <div class="animacao-titulo">
        <h2 class="titulo_recentes">...RECE<span>NT <br>SOFT</span>WAR<span>ES</span></h2>
    </div>

    
    <div class="container_softwares_group">
        <div class="container_softwares_coluna">
            <img src="{% static 'images/apresentacao/mydecorator.png'%}" alt="Decoração de ambientes com inteligência artificial" class="box_image_software"/>
            <div class="tagsoftware">
                <h3>Website</h3>
                <h6>Artificial intelligence used in decoration</h6>
            </div>
        </div>

        <div class="container_softwares_coluna">
            <img src="{% static 'images/apresentacao/anki_tts.png'%}" alt="Automation and Artificial Intelligence operating locally" class="box_image_software"/>
            <div class="tagsoftware">
                <h3>AI</h3>
                <h6>Automation and Artificial Intelligence operating locally</h6>
            </div>
        </div>

        <div class="container_softwares_coluna">
            <img src="{% static 'images/apresentacao/firewall.png'%}" alt="Software firewall para controle total da rede" class="box_image_software"/>
            <div class="tagsoftware">
                <h3>Servers</h3>
                <h6>Home and corporate protection firewall</h6>
            </div>
        </div>
    </div>


</div>