{% load static %}

<div class="grid-container">
    <!-- Column 1 -->
    <div class="grid-item">
      <div class="userdetails">
        <div class="imgbox">
          <img src="{% static 'images/feedbacks/guilherme.png'%}" alt="Gabdeveloper client image"/>
        </div>
        <div class="detbox">
           <p class="name">Guilherme Cunha</p>
           <p class="designation">Automation</p>
        </div>
      </div>
      <div class="review">
        <h4>Spreadsheet automation saved significant resources!</h4>
        <p>"Honestly, if I had known it was possible to automate spreadsheets, I would have eliminated these manual tasks from employees long ago. My salespeople now focus mainly on the green!"</p>
      </div>
    </div>

    <!-- Column 2 -->
    <div class="grid-item">
      <div class="userdetails">
        <div class="imgbox">
          <img src="{% static 'images/feedbacks/paulo.png'%}" alt="Gabdeveloper client image"/>
        </div>
        <div class="detbox">
           <p class="name">Paulo Oliveira</p>
           <p class="designation">Servers</p>
        </div>
      </div>
      <div class="review">
        <h4>The support team and the speed of deployment are extraordinary.</h4>
        <p>"You know that feeling of insecurity when making a banking transaction, fearing that there might be an intruder in the network? We don't have it anymore! And the way it's delivered is simply amazing, basically Plug and Play."</p>
      </div>
    </div>

    <!-- Column 3 -->
    <div class="grid-item">
      <div class="userdetails">
        <div class="imgbox">
          <img src="{% static 'images/feedbacks/sofia.png'%}" alt="Gabdeveloper client image"/>
        </div>
        <div class="detbox">
           <p class="name dark">Sofia Castro</p>
           <p class="designation dark">Automation</p>
        </div>
      </div>
      <div class="review dark">
        <h4>We hired reporting services. Highly recommend!</h4>
        <p>"Only those who do active prospecting know the WORK it is, and how were we working without these reports?! It's true that the price is a bit high, but correlating it with the average cost per click on ads, it's definitely worth it! And there's a sector study, what's that? When they asked us for feedback, we didn't hesitate at all. The reports bring a complete list of business data and an extremely useful and easy-to-understand infographic. I use it in closing meetings with my clients for the website creation service, and it never fails."</p>
      </div>
    </div>

    <!-- Column 4 -->
    <div class="grid-item">
      <div class="userdetails">
        <div class="imgbox">
          <img src="{% static 'images/feedbacks/marina.png'%}" alt="Gabdeveloper client image"/>
        </div>
        <div class="detbox">
           <p class="name dark">Marina Ferreira</p>
           <p class="designation dark">Email Marketing</p>
        </div>
      </div>
      <div class="review dark">
        <h4>The professionalism of the company went to another level!</h4>
        <p>"The implementation of the email marketing sending server significantly increased our engagement rate. Highly personalized emails!"</p>
      </div>
    </div>

    <!-- Column 5 -->
    <div class="grid-item">
      <div class="userdetails">
        <div class="imgbox">
          <img src="{% static 'images/feedbacks/matheus.png'%}" alt="Gabdeveloper client image"/>
        </div>
        <div class="detbox">
          <p class="name">Matheus Ribeiro</p>
          <p class="designation">Website</p>
        </div>
      </div>
      <div class="review">
          <h4>We already feel results in the store</h4>
          <p>"It's really impressive, they reflected on the site who we are! And the development process is very cool, they didn't keep us waiting with technical terms. The price is higher, but worth every penny."</p>
      </div>
    </div>
</div>
