.container_portfolio{
    max-width: 80%;
    color: var(--cor-branco);
    min-height: 600px;
}

.grid-container {
    margin-top: 5%;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px 100px;
}

.grid-item {
    color: var(--cor-branco);
    min-height: 200px;
    position: relative; 
    border: 1px solid var(--cor-branco);
    padding: 2%;
    font-size: var(--tamanho-fonte-desktop-botoes-grande);
    border-radius: 25px;
    text-align: left;
    transition: background-color 1s,transform 0.5s;
}

.grid-item h6,
.grid-item span{
    font-size: var(--tamanho-fonte-desktop-botoes-pequeno);
    color: var(--cor-branco-opaco);
    position: absolute;
    bottom: 2%;
    margin: 0;
}

.grid-item h6{
    right: 5%; 
}

.grid-item span{
    left: 5%;
}

.grid-item:hover{
    transform: scale(1.05); 
}

@media (max-width: 700px) {
    .container_portfolio{
        max-width: 100%;
    }

    .container_filtro{
        margin: 2%;
    }
    .grid-container {
        grid-template-columns: auto; 
        padding: 2%;
    }

    .grid-item {
        font-size: var(--tamanho-fonte-media-mobile);
    }

    input[type="checkbox"] + label,
    .grid-item span,
    .grid-item h6{
        font-size: var(--tamanho-fonte-micro-mobile);
    }
}